
{% extends "main/navbar.html" %}
{% load static %}

{% block imports %}

<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  </style>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      const uluru = { lat: 45.0812, lng: 13.6387 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: uluru,
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
      });
    }
</script>

<link href="{%static 'css/sign/racun1.css'%}" rel="stylesheet" />
{%endblock imports%}

{% block content %}



<br>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 ">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{%static 'img/default.jpg'%}">
            <form name="profilna" method="POST">
            {%csrf_token%}
            <span class="font-weight-bold">{{user.username}}</span>
            <span class="text-black-50">{{user.email}}</span>
            <span> </span>
        </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-5 ">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Informacije o korisniku</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Ime</label>{{form.ime}}</div>
                    <div class="col-md-6"><label class="labels">Prezime</label>{{form.prezime}}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Broj Telefona</label>{{form.telefon}}</div>
                    <div class="col-md-12"><label class="labels">Adresa</label>{{form.adresa}}</div>
                    <div class="col-md-12"><label class="labels">Email</label>{{form.email}}</div>

                    <div class="container" style="padding-top: 10px;"><p class="text-muted">Vrlo nam je važno imati točnu lokaciju.<br> Geografsku širinu i dužinu možete samostalno unijeti ili koristiti automatsko lociranje.<br>Molimo vas provijerite lokaciju na mapi te ukoliko automatsko lociranje nije točno, ispravite.</
                    </p></div>
                    <div class="col-md-12 text-center"><button onclick="getLocation()" class="btn btn-info">GEO Lociranje</button></div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Geo. Širina</label>{{form.sirina}}</div>
                        <div class="col-md-6"><label class="labels">Geo. Dužina</label>{{form.duzina}}</div>
                    </div><br>
                    <p class="text-muted">Vaša lokacija označena je ikonom:</p>
                    <br>
                    <div id="map"></div>

                    
                    <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0zenvZnCkMVJNRXDrU-oSfSLos56B6iU&callback=initMap&libraries=&v=weekly"
                    async
                    ></script>
                    

                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Država</label><input type="text" class="form-control" placeholder="Država" value="" disabled></div>
                    <div class="col-md-6"><label class="labels">Regija</label><input type="text" class="form-control" value="" placeholder="Regija" disabled></div>
                </div>
            
                <div class="mt-5 text-center"><button type="submit" id="sbmt" class="btn btn-primary profile-button" type="button">Spremi Promjene</button></div>
            </form>

            </div>
        </div>
        
    </div>
</div>


<script>
  
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } 
    }
    
    function showPosition(position) {
        document.getElementById("id_sirina").value = position.coords.latitude;
        document.getElementById("id_duzina").value = position.coords.longitude;
        document.profilna.submit();
        
        const uluru = { lat: position.coords.latitude, lng: position.coords.longitude };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: uluru,
      });
      // The marker, positioned at Uluru
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
      });
      
    }
    </script>

{%endblock content %}