
{% extends "main/navbar.html" %}
{% load static %}



{% block content %}
<br><br><br>


{% if messages %}
<br><br>
        		<ul class="alert alert-success text-center" role="alert">
                    {% for message in messages %}
            		{{ message }}
            		{% endfor %}
        		</ul>
        		{% endif %}
{% if user.is_authenticated %}
<br>
<div class="d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Pizzeria Dario</h5>
      <p class="card-text">Dobra Pizza</p>
      <a href="/narudzba/" class="btn btn-primary">Naruči</a>
    </div>
  </div>
</div>
{%else%}
<p style="font-weight: bold;" class="text-muted text-center">Trebate imati korisnički račun prije nego što možete napraviti narudžbu.</p>
{%endif%}

{%endblock content %}